<div class="row">
 <div class="d-flex justify-content-start h5 col-2 my-3">PRODUCTOS</div>
<div class="d-flex justify-content-end col-10">  
    <div class="col-4 mb-2">
        <input [(ngModel)]="formulario.filtro" name="filtro" type="search" class="form-control" />
    </div>
   <button class="btn btn-primary btn-sm mb-3 p-2" style="margin-left:20px;" [routerLink]="['/create']">
    <fa-icon [icon]="faAdd"></fa-icon> Agregar Producto</button>
</div>
</div>

<div class="card">
    <div class="card-body">
        <p class="card-title">Lista de Productos</p>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Categoría
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Inventario
                    </th>
                    <th>
                        Acción
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of productos | filtrarTabla:formulario.filtro">
                    <td>
                        {{i.nombre}}
                    </td>
                    <td>
                        {{i.categoria}}
                    </td>
                    <td>
                        {{i.precio}}
                    </td>
                    <td>
                        {{i.cantidad}}
                    </td>
                    <td>
                        <span *ngIf="i.inventario=='En stock'" class="text-success">
                            <span class="greenCicle"></span>
                            {{
                                i.inventario
                            }}
                        </span>
                    
                        <span *ngIf="i.inventario=='Limitado'" class="text-warning">
                            <span class="yellowCicle"> </span>
                            {{
                                i.inventario
                            }}
                        </span>
                        <span *ngIf="i.inventario=='Agotado'" class="text-danger">
                            <span class="redCicle"></span>
                            <span class="badge"></span>
                            {{
                                i.inventario
                            }}
                        </span>
                    </td>
                    <td>
                        <button type="button" name="editar" [routerLink]="['/edit/', i.productoId]"  class="btn btn-defult btn-sm px-3">
                            <fa-icon [icon]="faEdit"></fa-icon> 
                        </button>
                        <button type="button" name="borrar" (click)="borrar(i.productoId)" class="btn btn-defult btn-sm px-3">
                            <fa-icon [icon]="faTrash"></fa-icon> 
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>